Screen {
    align: center middle;
    padding: 0;
}

#buttons {
    height: 3;
    width: auto;
}

TabPane {
    background: $panel;
    border: round $primary;
    width: 100%;
    height: 1fr;
    padding: 0;
}


DataTable {
    background: $panel;
    height: 1fr;
}

